@(govForm: Form[model.GovServiceModel])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import model._

@main(title = "Some Useful Government Service") {

    <h1>Some Useful Government Service</h1>

    @form(action = routes.ApplicationController.submit,args = 'id -> "govform") {

        @inputText(
            field = govForm("name"),
            args = '_label -> "Name",
            '_error -> govForm("name").
            error.map(_.withMessage("Enter your name"))
        )

        @inputRadioGroup(
            govForm("gender"),
            options = Seq("M"->"Male","F"->"Female"),
            '_label -> "Gender",
            '_error -> govForm("gender").
            error.map(_.withMessage("select gender"))
        )


        @inputText(
        field = govForm("age"),
        args = '_label -> "Age", 'size -> 3,
        '_error -> govForm("age").
        error.map(_.withMessage("Enter your age"))
        )

        @select(
        field = govForm("country"),
        options = options(
        "" -> "Choose country",
        "India" -> "India",
        "England" -> "England",
        "blue" -> "Blue"
        ),
        args = '_label -> "Choose a country",
        '_error -> govForm("age").
        error.map(_.withMessage("Select Country"))
        )


       <p class="buttons">
           <input type="submit" id="submit" value="submit">
       <p>

    }

}
